h1 {
    color: white;
    font-family: 'GowaRegular';
    font-weight: normal;
    font-style: normal;
    
 }

 h2 {
    color: white;
    font-family: 'GowaRegular';
    font-weight: normal;
    font-style: normal;
    
 } 

 h3 {
    color: white;
    font-family: 'GowaRegular';
    font-weight: normal;
    font-style: normal;
    
 } 

 .center {
   display: block;
   margin-left: auto;
   margin-right: auto;
   width: 20%;
 }
