h1 {
    color: white;
    font-family: 'GowaRegular';
    font-weight: normal;
    font-style: normal;
    
 }

 h2 {
    color: white;
    font-family: 'GowaRegular';
    font-weight: normal;
    font-style: normal;
    
 } 
